/* ИГРА ВОЗМЕЗДИЕ */

/* Подумать над шрифтами */
/* @font-face {
    font-family: Pipboy;
    src: url('../fonts/monofonto.ttf');
} */

.revenge_body {
    background: url(../img/revenge/back_game1.jpg) no-repeat center center fixed;
    background-color: #79755a;
    background-size: cover;
}
.greet_q_text {
    margin-top: 20px;
    height: 600px;
    padding: 15px;
    color: #00fb00;
    font-weight: 600;
    background-image: url(../img/revenge/rama1.png);
    background-size: 100% 100%;
    background-position: center;
}
.greet_q_text::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.4) 1px, transparent 1px, transparent 2px);
    opacity: .3; /* Определяет прозрачность. В данном случае снижает частоту полос на странице */
    /* После настрое выше элементы на странице перестанут быть отзывчивыми. Исправление ниже */
    z-index: 10;
    pointer-events: none;
}
.greet_text {
    margin: 51px 15px 0px 15px;
    padding: 0px 75px 0px 45px;
    text-align: justify;
    text-indent: 20px;
    overflow-y: scroll;
    max-height: 477px;
    scrollbar-color: rgb(68, 68, 68) rgb(29, 36, 32);
    scrollbar-width: 10px;
}
.hero_name {
    background-image: url(../img/revenge/background_buttons.png);
    background-size: 100% 100%;
    background-position: center;
    width:100%;
    min-height:89px;
    max-height:100px;
    margin-top: 1%;
}
.hero_name input {
    background-image: url(../img/revenge/background_input.png);
    height: 35px;
    width: 225px;
    margin-top: 26px;
    padding: 10px;
    color: #00fb00;
    outline: none;
}
/* для webkit-браузеров */
.hero_name input::-webkit-input-placeholder {
    color: #1ac41a;
}
/* для браузеров Firefox 19+ */
.hero_name input::-moz-placeholder {
    color: #1ac41a;
}
.greet_buttons {
    background-image: url(../img/revenge/background_buttons.png);
    background-size: 100% 100%;
    background-position: center;
    width:100%;
    max-height:100px;
    margin-top: 1%;
}
.volume {
    background-size: 100% 100%;
    background-position: center;
    width:100%;
    max-height:100px;
    margin-top: 2%;
}
#vol_btn {
    width:163px;
    height:61px;
    margin: 2%;
    cursor: pointer;
}

#key_new {
    background: url(../img/revenge/key_new.png) 0 100% no-repeat;
    width:137px;
    height:34px;
    margin: 2.5%;
    cursor: pointer;
}
#key_new:hover {
 background-position: 0 0;
}
#key_load_new {
    background: url(../img/revenge/key_load.png) 0 100% no-repeat;
    width:137px;
    height:34px;
    margin: 2.5%;
    margin-left: 20%;
    margin-right: 20%;
    cursor: pointer;
}
#key_load_new:hover {
 background-position: 0 0;
}

#key_quit_new {
    background: url(../img/revenge/key_quit.png) 0 100% no-repeat;
    width:137px;
    height:34px;
    margin: 2.5%;
    cursor: pointer;
}
#key_quit_new:hover {
 background-position: 0 0;
}

.q_text {
    margin-top: 20px;
    height: 350px;
    padding: 15px;
    color: #00fb00;
    font-weight: 600;
    background-image: url(../img/revenge/rama1.png);
    background-size: 100% 100%;
    background-position: center;
}
.q_text::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.4) 1px, transparent 1px, transparent 2px);
    opacity: .3; /* Определяет прозрачность. В данном случае снижает частоту полос на странице */
    /* После настрое выше элементы на странице перестанут быть отзывчивыми. Исправление ниже */
    z-index: 10;
    pointer-events: none;
}
.text {
    margin: 29px 0px 1px 43px;
    padding-right: 51px;
    text-align: justify;
    text-indent: 20px; /* Отступ первой строки в пикселах */
    overflow-y: scroll; /* Скролл */
    max-height: 266px;
    scrollbar-color: rgb(68, 68, 68) rgb(29, 36, 32);
    scrollbar-width: 10px;
}

.final_q_text {
    margin-top: 20px;
    height: 290px;
    padding: 15px;
    color: #00fb00;
    font-weight: 600;
    background-image: url(../img/revenge/rama1.png);
    background-size: 100% 100%;
    background-position: center;
}
.final_q_text::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.4) 1px, transparent 1px, transparent 2px);
    opacity: .3; /* Определяет прозрачность. В данном случае снижает частоту полос на странице */
    /* После настрое выше элементы на странице перестанут быть отзывчивыми. Исправление ниже */
    z-index: 10;
    pointer-events: none;
}
.final_text {
    margin: 29px 15px 0px 25px;
    padding: 0px 75px 0px 45px;
    text-align: justify;
    text-indent: 20px;
    overflow-y: scroll;
    max-height: 216px;
    scrollbar-color: rgb(68, 68, 68) rgb(29, 36, 32);
    scrollbar-width: 10px;
}


.final_q_credits {
    margin-top: 20px;
    height: 740px;
    padding-top: 50px;
    color: #00fb00;
    font-weight: 600;
    background-image: url(../img/revenge/rama1.png);
    background-size: 100% 100%;
    background-position: center;
}
.final_q_credits::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.4) 1px, transparent 1px, transparent 2px);
    opacity: .3;
    z-index: 10;
    pointer-events: none;
}
.final_q_credits p {
    margin-top: 5px;
    margin-bottom: 0;
}
.final_credits {
    margin: 30px 25px 0 0;
    padding: 0px 117px 0px 83px;
    text-align: justify;
    text-indent: 20px;
    overflow-y: scroll;
    max-height: 595px;
    scrollbar-color: rgb(68, 68, 68) rgb(29, 36, 32);
    scrollbar-width: 10px;
}
.final_credits, .greet_text a {
    text-decoration: none;
    color: rgb(224, 247, 19);
}
.final_credits, .greet_text a:hover {
    text-decoration: none;
    color: #00ff00;
}



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: url(../img/revenge/scroll.jpg);
    border-radius: 5px;
}
/* Выделение имен и  активных элементов */
.yes {
    color: rgb(224, 247, 19);
}
.q_pic {
    margin-top: 20px;
    background-image: url(../img/revenge/rama2.png);
    background-size: 100% 100%;
    background-position: center;
    max-height: 350px;

}
.q_pic_image {
    /* Добавить после переделывания всех картинок

    display:flex;
    align-items: center;
    justify-content: center;
    */
    margin: 32px 3px 1px 8px;
    overflow: hidden;
    max-height: 300px;
    position: relative;
    z-index: -1;
}
.final_pic {
    margin-top: 20px;
    background-image: url(../img/revenge/rama2.png);
    background-size: 100% 100%;
    background-position: center;
    height: 500px;
}
.final_image {
    display:-webkit-box;
    display:flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    margin: 32px 3px 1px 8px;
    overflow: hidden;
    max-height: 450px;
    position: relative;
    z-index: -1;
}


.q_keys {
    height: 220px;
    margin-top: 20px;
    background-image: url(../img/revenge/rama1.png);
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
}
.q_keys::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.4) 1px, transparent 1px, transparent 2px);
    opacity: .3; /* Определяет прозрачность. В данном случае снижает частоту полос на странице */
    /* После настрое выше элементы на странице перестанут быть отзывчивыми. Исправление ниже */
    z-index: 10;
    pointer-events: none;
}
.q_keys button {
    color: #00fb00;
    font-weight: 600;
    text-align: left;
    max-width: 625px;
}
.q_keys button:hover {
    color: rgb(224, 247, 19);
}

.keys_btn {
    margin: 27px 13px 0px 47px;
    max-height: 171px;
    overflow-y: scroll; /* Скролл */
    scrollbar-color: rgb(68, 68, 68) rgb(29, 36, 32);
    scrollbar-width: 10px;
}
.q_monitor {
    color: rgb(224, 247, 19);
    height: 220px;
    margin-top: 20px;
    word-break: break-all;
    background-image: url(../img/revenge/rama1.png);
    background-size: 100% 100%;
    background-position: center;
    padding: 15px;
    overflow: hidden;
}
.q_monitor::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.4) 1px, transparent 1px, transparent 2px);
    opacity: .3; /* Определяет прозрачность. В данном случае снижает частоту полос на странице */
    /* После настрое выше элементы на странице перестанут быть отзывчивыми. Исправление ниже */
    z-index: 10;
    pointer-events: none;
}
.q_monitor p {
    margin-bottom: 3px;
    font-size: 16px;
}
.q_monitor_states {
    max-height: 171px;
    margin: 12px -8px 1px 20px;
    padding-right: 19px;
    overflow-y: scroll; /* Скролл */
    scrollbar-color: rgb(68, 68, 68) rgb(29, 36, 32);
    scrollbar-width: 10px;
}
#inv a {
    color: inherit;
    text-decoration: underline line-through;
}
#inv a:hover {
    color: #00fb00;
}
#version {
    color: red;
    margin-top: 12px;
}

.hideInv {
    display: none;
}
.hideSaveScreen {
    display: none;
}
.underlined {
    color: #00fb00;
    text-decoration: underline;
}
.heroNameColor {
    color: #00fb00;
    font-weight: bold;
}

/* Кнопки сохранения, загрузки и выхода */
.keys_slq {
    margin-top: 1%;
}
.save_load_quit_buttons {
    background-image: url(../img/revenge/background_buttons.png);
    background-size: 100% 100%;
    background-position: center;
    width:100%;
    max-height:155px;
}
.final_buttons {
    background-image: url(../img/revenge/background_buttons.png);
    background-size: 100% 100%;
    background-position: center;
    width:100%;
    max-height:100px;
    margin-top: 1%;
}

   
#key_save {
    background: url(../img/revenge/key_save.png) 0 100% no-repeat;
    width:137px;
    height:34px;
    margin: 2.5%;
    cursor: pointer;
}
#key_save:hover {
 background-position: 0 0;
}
#key_save_negative {
    background: url(../img/revenge/key_save.png) 0 100% no-repeat;
    width:137px;
    height:34px;
    margin: 2.5%;
    cursor: pointer;
}
#key_save_negative:hover {
 background-position: 0 0;
}

#key_load {
    background: url(../img/revenge/key_load.png) 0 100% no-repeat;
    width:137px;
    height:34px;
    margin: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
}
#key_load:hover {
 background-position: 0 0;
}

#key_quit {
    background: url(../img/revenge/key_quit.png) 0 100% no-repeat;
    width:137px;
    height:34px;
    margin: 2.5%;
    cursor: pointer;
}
#key_quit:hover {
 background-position: 0 0;
}
#key_next {
    background: url(../img/revenge/key_next.png) 0 100% no-repeat;
    width:137px;
    height:34px;
    margin: 2.5%;
    cursor: pointer;
}
#key_next:hover {
 background-position: 0 0;
}

/* Экран статуса сохранения-загрузки */
.save_load_screen {
    background-image: url(../img/revenge/rama3.png);
    background-size: 100% 100%;
    background-position: center;
    height: 69px;
    max-width: 690px;
}
.save_load_screen p {
    padding: 20px;
    color: #00fb00;
}
.save_load_screen::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.4) 1px, transparent 1px, transparent 2px);
    opacity: .3; /* Определяет прозрачность. В данном случае снижает частоту полос на странице */
    /* После настрое выше элементы на странице перестанут быть отзывчивыми. Исправление ниже */
    z-index: 10;
    pointer-events: none;
}



@media (min-width: 992px) and (max-width: 1199px) {
    .greet_text {
        padding: 0px 56px 0px 36px;
    }
    .final_text {
        margin: 29px 10px 0px 25px;
        padding: 0px 61px 0px 39px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hero_name {
        background-image: url(../img/revenge/background_buttons2.png);
    }
    .greet_buttons {
        background-image: url(../img/revenge/background_buttons2.png);
        height:119px;
    }
    #key_new {
        margin: 4.5%;
    }
    #key_load_new {
        margin: 4.5%;
        margin-left: 10%;
        margin-right: 10%;
    }
    #key_quit_new {
        margin: 4.5%;
    }
    .q_monitor {
        height: 350px;
    }
    .q_monitor_states {
        max-height: 276px;
        padding-right: 23px;
        margin: 25px -8px 1px 20px;
    }
    .save_load_quit_buttons {
        background-image: url(../img/revenge/background_buttons2.png);
        height:119px;
    }
    #key_save {
        margin: 6.5%;
    }
    #key_load {
        margin: 6.5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    #key_quit {
        margin: 2.5%;
    }
    .save_load_screen {
        margin-bottom: 1%;
    }
    .save_load_screen {
        margin: 15px;
    }
    .final_text {
        margin: 29px 3px 0px 25px;
        padding: 0px 44px 0px 16px;
    }
    .final_credits {
        margin: 36px 17px 0px 0px;
        padding: 0px 50px 0px 60px;
        max-height: 585px;
    }
}
@media (min-width: 520px) and (max-width: 991px) {
    .greet_text {
        margin: 56px 1px 0px 15px;
        padding: 0px 49px 0px 27px;
        max-height: 466px;
    }
    .final_image {
        background: black;
        padding: 17% 0% 25% 0%;
    }
    .final_image img {
        display: block;
        max-width: 100%;
        margin-top: inherit;
    }
}
@media (min-width: 412px) and (max-width: 767px) {
    .hero_name {
        background-image: url(../img/revenge/background_buttons3.png);
    }
    .greet_buttons {
        background-image: url(../img/revenge/background_buttons3.png);
    }
    #key_new {
        margin: 2.5%;
    }
    #key_load_new {
        margin: 2.5%;
    }
    #key_quit_new {
        margin: 2.5%;
    }
    .save_load_quit_buttons {
        background-image: url(../img/revenge/background_buttons3.png);
    }
    #key_save {
        margin-top: 2.5%;
    }
    #key_load {
        margin-top: 2.5%;
    }
    #key_quit {
        margin-top: 2.5%;
    }
    .save_load_screen {
        margin-bottom: 1%;
    }
    .greet_text {
        margin: 56px -3px 0px 15px;
        padding: 0px 36px 0px 17px;
    }
    .text {
        margin: 25px 0px 1px 27px;
        padding-right: 30px;
        max-height: 276px;
    }
    .keys_btn {
        margin: 26px 11px 0px 28px;
    }
    .final_text {
        margin: 20px -4px 0px 13px;
        padding: 0px 37px 0px 16px;
        max-height: 226px;
    }
    #main_pic img {
        content: url(../img/revenge/epicfinSm.jpg);
    }
    .final_credits {
        padding: 0px 41px 0px 47px;
        margin: 38px 10px 0px 0px;
        max-height: 580px;
    }
}
@media (max-width: 576px) {
    .final_buttons {
        min-height: 75px;
    }
    .greet_buttons {
        max-height: 100%;
    }
    #key_next {
        margin-top: 20px;
    }
}
@media (max-width: 520px) {
    .greet_text {
        margin: 56px -3px 0px 15px;
        padding: 0px 34px 0px 13px;
        max-height: 467px;
    }
    .final_pic {
        height: 210px;
    }
    .final_image {
        background: black;
        padding: 17% 0% 20% 0%;
        max-height: 190px;
        margin: 10px 0px 0px 0px;
    }
    .final_image img {
        display: block;
        max-width: 100%;
        margin-top: inherit;
    }
    .final_text {
        padding: 0px 28px 0px 17px;
    }
}
@media (max-width: 411px) {
    .greet_text {
        margin: 56px -5px 0px 15px;
        padding: 0px 25px 0px 8px;
        max-height: 468px;
    }
    .hero_name {
        background-image: url(../img/revenge/background_buttons4.png);
    }
    .greet_buttons {
        background-image: url(../img/revenge/background_buttons4.png);
    }
    #key_new {
        margin: 2.5%;
    }
    #key_load_new {
        margin: 2.5%;
    }
    #key_quit_new {
        margin: 2.5%;
    }
   .save_load_quit_buttons {
        background-image: url(../img/revenge/background_buttons4.png);
        height:155px;
    }
    #key_new #key_save {
        margin-top: 1.5%;
    }
    #key_load_new #key_load {
        margin-top: 1.5%;
    }
    #key_quit_new #key_quit {
        margin-top: 4.5%;
    }
    .save_load_screen {
        margin-bottom: 1%;
    }
    .save_load_screen {
        margin: 15px;
    }
    .text {
        margin: 25px -6px 1px 18px;
        padding-right: 23px;
        max-height: 276px;
    }
    .keys_btn {
        margin: 26px 7px 0px 21px;
    }
    .final_text {
        margin: 20px -8px 0px 0px;
        padding: 0px 28px 0px 17px;
        max-height: 226px;
    }
    .final_buttons {
        background-image: url(../img/revenge/background_buttons4.png);
    }
    .final_credits {
        padding: 0px 33px 0px 38px;
        margin: 38px 7px 0px 0px;
        max-height: 578px;
    }
}
